<p id="notice"><%= notice %></p>

<p>
  <strong>Description:</strong>
  <%= @walkthrough.description %>
</p>

<%= link_to 'Edit', edit_walkthrough_path(@walkthrough) %> |
<%= link_to 'Back', walkthroughs_path %>
